@charset "UTF-8";
@font-face {
  font-family: bebas;
  src: url("../css/fonts/BebasNeue-Regular.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative; }

.blog-button {
  display: block;
  float: right;
  margin-top: 10px;
  border-radius: 8px;
  background: #FF1A2C;
  color: white;
  padding: 7px;
  text-transform: uppercase; }

.text-link {
  color: #FF1A2C;
  font-weight: bolder; }

.text-link:hover {
  color: #e51b29; }

.hover:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: .3s; }

.button {
  background: white;
  color: black;
  border: none;
  padding: 5px 35px;
  font-weight: bolder;
  font-style: italic;
  border-radius: 4px;
  font-size: 22px; }

.post-info {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 12px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #FF1A2C;
  padding: 10px; }
  header a {
    color: white; }
  header a:hover {
    color: white; }
  header .social a {
    margin: 0 5px;
    font-size: 30px; }

.drop-menu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }
  .drop-menu .sub-menu {
    margin: 0 auto;
    font-size: 15px !important; }
  .drop-menu i {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px; }
  .drop-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
    .drop-menu ul li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      display: block;
      padding: 20px 0; }
    .drop-menu ul li a:hover {
      opacity: 0.5; }

.nav-button {
  border-radius: 50% 50%;
  background: #FF1A2C;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 80px;
  left: 5%;
  z-index: 2; }
  .nav-button i {
    color: white !important;
    font-size: 30px;
    display: block;
    margin: -3px 8.5px; }

.motoslider_wrapper h3 {
  text-align: center; }
.motoslider_wrapper .ms_wrapper {
  min-height: 300px; }

.content h2 {
  font-size: 26px;
  letter-spacing: 4px; }

.quots {
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px; }
  .quots .perfil-comment {
    width: 200px; }
  .quots .quote1, .quots .quote2 {
    width: 40px; }
  .quots .quote1 {
    top: 250px;
    left: 12%; }
  .quots .quote2 {
    right: 12%;
    top: 350px; }
  .quots .ion-chevron-left, .quots .ion-chevron-right {
    top: 230px;
    font-size: 50px; }
  .quots .ion-chevron-right {
    right: 5%; }
  .quots .ion-chevron-left {
    left: 5%; }
  .quots p {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px; }

.news .noticias {
  position: absolute;
  top: 11px;
  left: -69px; }
.news .col-md-8 img:first-child {
  height: 100%; }
.news .col-md-4 h2 {
  text-shadow: 2px 1px 1px black; }
.news .container {
  max-width: 992px; }
.news .post {
  position: relative; }
  .news .post img {
    width: 100%; }
  .news .post .post-excerpt-overlay {
    background: rgba(0, 0, 0, 0.5); }
  .news .post .post-excerpt {
    padding: 10px 20px;
    position: absolute;
    bottom: 0; }
    .news .post .post-excerpt h2 {
      color: #FF1A2C;
      text-transform: uppercase; }
    .news .post .post-excerpt a {
      color: inherit; }
    .news .post .post-excerpt a:hover {
      text-decoration: none;
      color: inherit; }
    .news .post .post-excerpt p {
      color: white; }
.news .post:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: .3s; }
.news .col-md-4 .post {
  height: 50%; }
  .news .col-md-4 .post img {
    height: 100%; }
  .news .col-md-4 .post h2 {
    font-size: 20px;
    text-align: center; }
  .news .col-md-4 .post .post-excerpt {
    width: 100%; }
.news .col-md-4 .post:first-child img {
  padding-bottom: 10px; }
.news .col-md-8 {
  padding-right: 10px; }
  .news .col-md-8 .post {
    height: 100%;
    margin-right: 10px; }
    .news .col-md-8 .post img {
      height: 100%; }

.contact {
  background: url(../img/bg-contact.jpg);
  background-size: cover;
  color: white; }
  .contact .container {
    max-width: 700px; }
  .contact input[type="text"], .contact input[type="email"], .contact textarea {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 9px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
  .contact input::placeholder, .contact textarea::placeholder {
    font-style: italic; }
  .contact textarea {
    height: 120px; }
  .contact h2 {
    font-family: bebas;
    font-size: 45px;
    letter-spacing: 3px; }

.slider-blog {
  margin-top: 65px;
  max-height: 200px !important; }
  .slider-blog h1 {
    z-index: 1;
    bottom: 5%;
    left: 120px;
    font-weight: bolder; }

.blog-post {
  margin-bottom: 60px; }
  .blog-post img {
    margin-bottom: 23px;
    border-radius: 10px;
    width: 100%;
    height: auto; }
  .blog-post img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: .3s; }
  .blog-post h2 a {
    color: #FF1A2C; }
  .blog-post h2 a:hover {
    text-decoration: none; }

.sidebar h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 600; }
.sidebar ul {
  padding-left: 30px;
  list-style: none;
  margin-bottom: 60px; }
  .sidebar ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .sidebar ul li a {
      color: rgba(0, 0, 0, 0.3); }
    .sidebar ul li a:hover {
      color: #FF1A2C; }
  .sidebar ul li::before {
    content: "ÔÇó";
    color: #FF1A2C;
    margin-right: 10px; }
.sidebar form input::placeholder {
  font-style: italic; }
.sidebar form input[type="text"],
.sidebar form input[type="email"],
.sidebar form input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 7px;
  width: 100%; }
.sidebar form button,
.sidebar form input[type="submit"] {
  background: #FF1A2C;
  color: white;
  border: none;
  padding: 7px; }
.sidebar form:nth-child(1) button {
  top: 1px;
  right: 1px;
  padding: 7px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.post-content {
  /*.post-thumb {
      .attachment-post-thumbnail {
          width: 100%;
          height: 100px;
          object-fit:cover
      }
      max-height:500px;
      overflow: hidden;
      border-radius:20px;
  }*/ }
  .post-content h1 {
    color: #FF1A2C; }
  .post-content div {
    border-radius: 10px; }
  .post-content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px; }

.comments {
  max-width: 680px; }
  .comments .container {
    max-width: 700px; }
  .comments input[type="text"],
  .comments input[type="email"],
  .comments textarea {
    padding: 9px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4); }
  .comments input::placeholder,
  .comments textarea::placeholder {
    font-style: italic;
    opacity: 0.4; }
  .comments textarea {
    height: 120px; }
  .comments h2 {
    font-size: 25px;
    margin-bottom: 32px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.4); }
  .comments .container {
    margin: 0 !important;
    padding: 0 !important; }
  .comments .blog-button {
    border: none;
    padding-left: 30px;
    padding-right: 30px; }

.hero-lei-seca {
  color: white;
  background: url(../img/lei-seca-header-bg.jpg);
  background-size: cover;
  min-height: 100vh !important; }
  .hero-lei-seca h1 {
    font-family: bebas;
    font-size: 80px; }
  .hero-lei-seca .vertical-line {
    width: 3px;
    height: 40%;
    background: #FF1A2C;
    display: block;
    margin: 0 auto; }
  .hero-lei-seca hr {
    width: 30%;
    background: #FF1A2C;
    padding: 0.5px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px; }
  .hero-lei-seca a {
    color: white; }
  .hero-lei-seca .ion-chevron-down {
    font-size: 50px;
    bottom: 45px;
    left: 48.5%; }

.lei-seca-content h2 {
  font-weight: bolder;
  font-size: 20px; }
.lei-seca-content .row > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px; }
  .lei-seca-content .row > div:nth-child(2) img {
    right: 0;
    top: 10%;
    width: 50%;
    height: auto; }
.lei-seca-content > .row:nth-child(1) > div:nth-child(2) img, .lei-seca-content > .row:nth-child(3) > div:nth-child(2) img {
  right: 0;
  top: 10%;
  width: 50%;
  height: auto; }
.lei-seca-content > .row:nth-child(2) > div:nth-child(2) img, .lei-seca-content > .row:nth-child(4) > div:nth-child(2) img {
  left: 0;
  top: 10%;
  width: 50%;
  height: auto; }
.lei-seca-content .col-md-6 {
  padding-left: 0;
  padding-right: 0; }
  .lei-seca-content .col-md-6 .year {
    left: 40%;
    bottom: 0;
    width: 20%;
    height: auto; }
.lei-seca-content img {
  height: 100%; }

.efeitos-hero {
  background: url(../img/efeitos-bg-header.jpg);
  background-size: contain;
  height: 70vh; }
  .efeitos-hero img {
    max-width: 600px; }

.stats {
  background: url(../img/stats-bg.jpg);
  background-size: cover;
  padding: 50px 0; }
  .stats img {
    margin: 1rem 0; }
  .stats h2 {
    font-size: 18px;
    text-align: center;
    font-family: bebas; }
  .stats .row {
    justify-content: space-between; }

.e-mais h2 {
  font-size: 22px;
  padding-bottom: 20px; }
.e-mais > .row > .col-md-4 .container > .row {
  padding: 60px 0; }
.e-mais > .row .container {
  color: white; }
.e-mais > .row > .col-md-4:nth-child(1) {
  background: url(../img/efeitos-bg-1.jpg);
  background-size: cover; }
.e-mais > .row > .col-md-4:nth-child(2) {
  background: url(../img/efeitos-bg-2.jpg);
  background-size: cover; }
.e-mais > .row > .col-md-4:nth-child(3) {
  background: url(../img/efeitos-bg-3.jpg);
  background-size: cover; }

footer {
  background: black; }
  footer p {
    margin: 0; }

@media screen and (max-width: 576px) {
  .news h2 {
    font-size: 16px; }
  .news p {
    font-size: 10px; } }
@media screen and (max-width: 767px) {
  .ms_pagination .ms_bullet {
    display: block !important; } }
@media screen and (max-width: 768px) {
  .news .col-md-4 img {
    width: 100%; }
  .news img {
    margin-bottom: 25px !important; }
  .news .col-md-4 .post:nth-child(2) img {
    margin-top: 19px; }

  .contact .button {
    width: 100%; }

  footer {
    font-size: 12px; }

  header a {
    font-size: 30px !important; }

  .post-content h1 {
    font-size: 20px; } }
@media screen and (min-width: 768px) {
  .news .col-md-4 {
    overflow: hidden; }
  .news .col-md-4, .news .col-md-8 {
    padding: 0; }
  .news .col-md-4 img {
    height: 50%; }
  .news .col-md-8 img:nth-child(2) {
    padding-right: 10px !important; }

  .stats {
    padding: 150px 0; }

  .e-mais > .row > .col-md-4 .container > .row {
    padding: 120px 0; }
  .e-mais h2 {
    font-size: 38px; } }
@media screen and (max-width: 991px) {
  .lei-seca-content .row > div:nth-child(2) img {
    top: 5% !important; } }

/*# sourceMappingURL=style.css.map */
