@font-face {
  font-family: bebas;
  src: url("../css/fonts/BebasNeue-Regular.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative; }

.vertical-line {
  width: 3px;
  height: 40%;
  background: #FF1A2C;
  display: block;
  margin: 0 auto; }

.bebas-title {
  font-family: bebas;
  font-size: 45px;
  letter-spacing: 3px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase; }

.blog-button {
  display: block;
  float: right;
  margin-top: 10px;
  border-radius: 8px;
  background: #FF1A2C;
  color: white;
  padding: 7px;
  text-transform: uppercase; }

.text-link {
  color: #FF1A2C;
  font-weight: bolder; }

.text-link:hover {
  color: #e51b29; }

.hover:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: .3s; }

.button {
  background: white;
  color: black;
  border: none;
  padding: 5px 35px;
  font-weight: bolder;
  font-style: italic;
  border-radius: 4px;
  font-size: 22px; }

.post-info {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 12px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #FF1A2C;
  padding: 10px; }
  header a {
    color: white; }
  header a:hover {
    color: white; }
  header .social a {
    margin: 0 5px;
    font-size: 30px; }

.drop-menu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-size: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }
  .drop-menu .sub-menu {
    margin: 0 auto;
    font-size: 15px !important; }
  .drop-menu i {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px; }
  .drop-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; }
    .drop-menu ul li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: bolder;
      display: block;
      padding: 20px 0; }
    .drop-menu ul li a:hover {
      opacity: 0.5; }

.nav-button {
  position: fixed;
  height: 60px;
  width: 60px;
  top: 80px;
  left: 5%;
  z-index: 2; }

.content h2 {
  font-size: 26px;
  letter-spacing: 4px; }

.contact {
  background: url(../img/bg-contact.jpg);
  background-size: cover;
  color: white; }
  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 9px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
  .contact input::placeholder,
  .contact textarea::placeholder {
    font-style: italic; }
  .contact textarea {
    height: 120px; }

.slide {
  max-height: 650px;
  overflow: hidden; }
  .slide .carousel-indicators {
    z-index: 2; }
    .slide .carousel-indicators li {
      cursor: pointer; }

.quots {
  position: relative;
  background: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 200px; }
  .quots .perfil-comment {
    width: 200px; }
  .quots .quote1,
  .quots .quote2 {
    width: 40px; }
  .quots .quote1 {
    top: 200x;
    left: 12%; }
  .quots .quote2 {
    right: 12%;
    top: 350px; }
  .quots .ion-chevron-left,
  .quots .ion-chevron-right {
    top: 230px;
    font-size: 50px; }
  .quots .ion-chevron-right {
    right: 5%; }
  .quots .ion-chevron-left {
    left: 5%; }
  .quots p {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px; }

.news {
  padding-top: 70px; }
  .news .noticias {
    position: absolute;
    top: 11px;
    left: -69px; }
  .news .col-md-8 > img:first-child {
    height: 80%; }
  .news .col-md-4 h2,
  .news .col-md-8 h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
    text-align: center; }
  .news .container {
    max-width: 992px; }
  .news .post {
    position: relative; }
    .news .post img {
      width: 100%; }
    .news .post h2 {
      color: #FF1A2C; }
    .news .post a {
      color: inherit; }
    .news .post a:hover {
      text-decoration: none;
      color: inherit; }
    .news .post p {
      color: white; }
  .news .post:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: .3s; }
  .news .col-md-4 .post img {
    height: 100%; }
  .news .col-md-4 .post h2 {
    text-align: center; }
  .news .col-md-8 .post {
    padding-right: 10px;
    width: 100%;
    height: 100%; }
    .news .col-md-8 .post img {
      height: 86%; }

.slider-blog {
  margin-top: 65px;
  max-height: 200px !important; }
  .slider-blog h1 {
    z-index: 1;
    bottom: 5%;
    left: 120px;
    font-weight: bolder; }

.blog-post {
  margin-bottom: 60px; }
  .blog-post img {
    margin-bottom: 23px;
    border-radius: 10px;
    width: 100%;
    height: auto; }
  .blog-post img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: .3s; }
  .blog-post h2 a {
    color: #FF1A2C; }
  .blog-post h2 a:hover {
    text-decoration: none; }

.sidebar h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 600; }
.sidebar ul {
  padding-left: 30px;
  list-style: none;
  margin-bottom: 60px; }
  .sidebar ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .sidebar ul li a {
      color: rgba(0, 0, 0, 0.3); }
    .sidebar ul li a:hover {
      color: #FF1A2C; }
  .sidebar ul li::before {
    content: "*";
    color: #FF1A2C;
    margin-right: 10px; }
.sidebar form input::placeholder {
  font-style: italic; }
.sidebar form input[type="text"],
.sidebar form input[type="email"],
.sidebar form input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 7px;
  width: 100%; }
.sidebar form button,
.sidebar form input[type="submit"] {
  background: #FF1A2C;
  color: white;
  border: none;
  padding: 7px; }
.sidebar form:nth-child(1) button {
  top: 1px;
  right: 1px;
  padding: 7px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.post-content {
  /*.post-thumb {
      .attachment-post-thumbnail {
          width: 100%;
          height: 100px;
          object-fit:cover
      }
      max-height:500px;
      overflow: hidden;
      border-radius:20px;
  }*/ }
  .post-content h1 {
    color: #FF1A2C; }
  .post-content div {
    border-radius: 10px; }
  .post-content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px; }

.comments {
  max-width: 680px; }
  .comments .container {
    max-width: 700px; }
  .comments input[type="text"],
  .comments input[type="email"],
  .comments textarea {
    padding: 9px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4); }
  .comments input::placeholder,
  .comments textarea::placeholder {
    font-style: italic;
    opacity: 0.4; }
  .comments textarea {
    height: 120px; }
  .comments h2 {
    font-size: 25px;
    margin-bottom: 32px;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.4); }
  .comments .container {
    margin: 0 !important;
    padding: 0 !important; }
  .comments .blog-button {
    border: none;
    padding-left: 30px;
    padding-right: 30px; }

.hero-lei-seca {
  color: white;
  background: url(../img/lei-seca-header-bg.jpg);
  background-size: cover;
  min-height: 100vh !important; }
  .hero-lei-seca h1 {
    padding-top: 30px;
    font-size: 80px; }
  .hero-lei-seca hr {
    width: 30%;
    background: #FF1A2C;
    padding: 0.5px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px; }
  .hero-lei-seca a {
    color: white; }
  .hero-lei-seca .ion-chevron-down {
    font-size: 50px;
    bottom: 45px;
    left: 48.5%; }

.lei-seca-content h2 {
  font-weight: bolder;
  font-size: 20px; }
.lei-seca-content .row > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px; }
  .lei-seca-content .row > div:nth-child(2) img {
    right: 0;
    top: 10%;
    width: 50%;
    height: auto; }
.lei-seca-content > .row:nth-child(1) > div:nth-child(2) img, .lei-seca-content > .row:nth-child(3) > div:nth-child(2) img {
  right: 44%;
  top: 10%;
  width: 10%;
  height: auto; }
.lei-seca-content > .row:nth-child(2) > div:nth-child(2) img, .lei-seca-content > .row:nth-child(4) > div:nth-child(2) img {
  left: 44%;
  top: 10%;
  width: 10%;
  height: auto; }
.lei-seca-content .col-lg-6 {
  padding-left: 0;
  padding-right: 0; }
  .lei-seca-content .col-lg-6 .year {
    left: 40%;
    bottom: 0;
    width: 20%;
    height: auto; }

.efeitos-hero {
  background: url(../img/efeitos-bg-header.jpg);
  background-size: contain;
  height: 70vh; }
  .efeitos-hero img {
    max-width: 600px;
    padding-top: 30px; }

.stats {
  background: url(../img/stats-bg.jpg);
  background-size: cover;
  padding: 50px 0; }
  .stats img {
    margin: 1rem 0; }
  .stats h2 {
    font-size: 18px;
    text-align: center;
    font-family: bebas; }
  .stats .row {
    justify-content: space-between; }

.e-mais h2 {
  font-size: 22px;
  padding-bottom: 20px; }
.e-mais > .row > .col-md-4 .container > .row {
  padding: 60px 0; }
.e-mais > .row .container {
  color: white; }
.e-mais > .row > .col-md-4:nth-child(1) {
  background: url(../img/efeitos-bg-1.jpg);
  background-size: cover; }
.e-mais > .row > .col-md-4:nth-child(2) {
  background: url(../img/efeitos-bg-2.jpg);
  background-size: cover; }
.e-mais > .row > .col-md-4:nth-child(3) {
  background: url(../img/efeitos-bg-3.jpg);
  background-size: cover; }

.mais-que-transito h2 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 1.5rem;
  padding-bottom: 10px; }
.mais-que-transito .depois-da-lei-seca {
  background: #f2f2f2; }
  .mais-que-transito .depois-da-lei-seca h2 {
    color: #FF1A2C; }
.mais-que-transito .hero {
  padding-top: 100px;
  padding-bottom: 30px;
  background: url(../img/mais-que-transito-header-bg.png); }
.mais-que-transito .blog-button {
  width: 200px;
  text-align: center;
  font-family: bebas;
  font-weight: bolder;
  font-size: 25px;
  padding: 2px;
  border-radius: 4px;
  float: none;
  display: block;
  margin: 0 auto; }
.mais-que-transito .blog-button:hover {
  text-decoration: none;
  color: white; }
.mais-que-transito .seja-um-fiscal {
  padding: 2rem 0; }
  .mais-que-transito .seja-um-fiscal .row .col-md-6:first-child img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

.fiscais-da-vida {
  padding-top: 25px; }
  .fiscais-da-vida .hero {
    background: url(../img/fiscais-da-vida-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 700px !important; }
    .fiscais-da-vida .hero h1 {
      padding-top: 100px; }
  .fiscais-da-vida .contact {
    background: none;
    color: inherit; }
    .fiscais-da-vida .contact form input, .fiscais-da-vida .contact form textarea {
      border-color: #FF1A2C !important;
      color: rgba(0, 0, 0, 0.6) !important; }
    .fiscais-da-vida .contact form .button {
      background: #FF1A2C;
      color: black !important; }
  .fiscais-da-vida h2 {
    font-size: 30px;
    letter-spacing: 1px; }
  .fiscais-da-vida .middle {
    padding: 90px; }
    .fiscais-da-vida .middle img {
      display: block;
      margin: 2rem auto;
      width: 40%; }

.fale-conosco {
  background: url(../img/fale-conosco-bg.jpg);
  background-size: cover;
  background-position: center center; }
  .fale-conosco .contact {
    background: none;
    color: inherit; }
    .fale-conosco .contact form input, .fale-conosco .contact form textarea {
      border-color: #FF1A2C !important;
      color: rgba(0, 0, 0, 0.6) !important; }
    .fale-conosco .contact form .button {
      background: rgba(0, 0, 0, 0.9);
      color: white !important; }
    .fale-conosco .contact hr {
      border-color: #FF1A2C;
      margin: 3rem 0; }
    .fale-conosco .contact .social {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .fale-conosco .contact .social a {
        font-size: 40px;
        color: rgba(0, 0, 0, 0.9);
        text-align: center; }
    .fale-conosco .contact .vertical-line {
      height: 120%; }

footer {
  background: black; }
  footer p {
    margin: 0; }

@media screen and (max-width: 576px) {
  .quots .quote1,
  .quots .quote2 {
    display: none; } }
@media screen and (max-width: 767px) {
  .ms_pagination .ms_bullet {
    display: block !important; } }
@media screen and (max-width: 768px) {
  .quots .quote2 {
    top: 400px; }

  .news .col-md-4 img {
    width: 100%; }
  .news .col-md-4 .post:nth-child(2) img {
    margin-top: 19px; }
  .news .col-md-4 .post:first-child .post-excerpt {
    bottom: 40px; }
  .news .col-md-8 .post {
    margin-right: 0; }
    .news .col-md-8 .post .post-excerpt {
      bottom: 40px; }

  .contact .button {
    width: 100%; }

  footer {
    font-size: 12px; }

  header a {
    font-size: 30px !important; }

  .post-content h1 {
    font-size: 20px; } }
@media screen and (min-width: 768px) {
  .mais-que-transito .blog-button {
    float: right; }
  .mais-que-transito .seja-um-fiscal .row .col-md-6:nth-child(2) img {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

  .news .col-md-4 {
    overflow: hidden; }
    .news .col-md-4 .post:first-child h2 {
      margin-bottom: 18.5px; }
  .news .col-md-4,
  .news .col-md-8 {
    padding: 0; }
  .news .col-md-8 img:nth-child(2) {
    padding-right: 10px !important; }
  .news .col-md-8 h2 {
    text-align: left;
    font-size: 34px; }

  .stats {
    padding: 150px 0; }

  .e-mais > .row > .col-md-4 .container > .row {
    padding: 120px 0; }
  .e-mais h2 {
    font-size: 38px; }

  .mais-que-transito .col-md-6 .container {
    padding: 100px; }

  .fiscais-da-vida .hero h1 {
    font-size: 80px; }
  .fiscais-da-vida h2 {
    font-size: 50px; }

  .fale-conosco {
    padding: 100px 0; }
    .fale-conosco h1 {
      font-size: 80px; }
    .fale-conosco .social {
      flex-direction: column;
      align-items: flex-start !important; } }
@media screen and (min-width: 991px) {
  .fiscais-da-vida .hero {
    height: auto !important; }
    .fiscais-da-vida .hero p {
      padding-bottom: 30px;
      display: block; }
  .fiscais-da-vida .content-text {
    display: none; } }
@media screen and (max-width: 991px) {
  .lei-seca-content .row > div:nth-child(2) img {
    top: 5% !important; }

  .fiscais-da-vida .hero p {
    display: none; }

  .fiscais-da-vida .hero h1 {
    font-size: 60px; } }
@media screen and (max-width: 1200px) {
  .fiscais-da-vida .hero p {
    margin-right: 500px; } }
@media screen and (min-width: 1200px) {
  .fiscais-da-vida .hero p {
    margin-right: 600px; }

  .quots .quote1 {
    left: 100px !important; }
  .quots .quote2 {
    right: 100px !important; } }

/*# sourceMappingURL=style.css.map */
