.comments{
    position:relative;
    padding:{
        top:100px;
        bottom:2000px;
    }
    .perfil-comment{
        width:200px;
    }
    
    .quote1, .quote2{
        width:40px;
    }
    
    .quote1{
        top:250px;
        left:12%;
    }
    
    .quote2{
        right:12%;
        top:350px;
    }
    
    .ion-chevron-left,.ion-chevron-right{
        top:230px;
        font-size:50px;
    }
    
    .ion-chevron-right{
        right:5%;
    }
    
    .ion-chevron-left{
        left:5%;
    }
    
    p{
        margin:{
            left:20%;
            right:20%;
            top:20px;
        }
        
    }
}