//Contact

.contact{
    background:url(../img/bg-contact.jpg);
    background-size: cover;
    color:white;
    .container{
        
    }
    input[type="text"],input[type="email"],textarea{
        background: rgba(255,255,255,0.1);
        color:white;
        padding:9px 15px;
        border-radius:20px;
        border:1px solid rgba(255,255,255,0.5);
    }
    input::placeholder, textarea::placeholder{
        font-style:italic;
    }
    textarea{
        height:120px;
    }
}