.efeitos-hero{
    background: url(../img/efeitos-bg-header.jpg);
    background-size:contain;
    height:70vh;
    img{
        max-width:600px;
        padding-top:30px;
    }
}

.stats{
    background:url(../img/stats-bg.jpg);
    background-size:cover;
    padding:50px 0;
    img{
        margin:1rem 0;
    }
    h2{
        font-size:18px;
        text-align:center;
        font-family: bebas;
    }
    .row{
        justify-content: space-between;
    }
}

.e-mais{
    h2{
        font-size:22px;
        padding-bottom:20px;
    }

    >.row{
        >.col-md-4{
            .container{
                >.row{
                    padding:60px 0;
                }
            }
            
        }
        .container{
            color:white;
        }
        
        >.col-md-4:nth-child(1){
            background: url(../img/efeitos-bg-1.jpg);
            background-size:cover;
        }
        >.col-md-4:nth-child(2){
            background: url(../img/efeitos-bg-2.jpg);
            background-size:cover;
        }
        >.col-md-4:nth-child(3){
            background: url(../img/efeitos-bg-3.jpg);
            background-size:cover;
        }
    }
        
  

    
    
}

