.fale-conosco{
    background:url(../img/fale-conosco-bg.jpg);
    background-size:cover;
    background-position: center center;
    h1:not(*:root) {
        padding-top:25px;
    }
    .contact{
        background:none;
        color:inherit;
        form{
            input,textarea{
                border-color:$color1 !important;
                color:rgba(0,0,0,0.6) !important;
            }
            .button{
                background:rgba(0,0,0,0.9);
                color:white !important;
            }
        }
        hr{
            border-color:$color1;
            margin:3rem 0;
        }

        .social{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack:distribute;
                justify-content:space-around;
            a{
                font-size:40px;
                color:rgba(0,0,0,0.9);
                text-align: center;
            }
        }

        .vertical-line{
            height:120%;
        }
    }
}