//Header

header{
    background:#bf2232;
    padding:10px;
    a{
        color:white;
    }
    a:hover{
        color:white;
    }
    .social a{
        margin:0 5px;
        font-size:25px;
    }   
}