.mais-que-transito{
    h2{
        font-size:30px;
        letter-spacing:1px;
        padding-top:1.5rem;
        padding-bottom:10px;
    }
    .depois-da-lei-seca{
        background:#f2f2f2;
        h2{
            color:$color1;
        }
    }
}