.mais-que-transito{
    h2{
        font-size:30px;
        letter-spacing:1px;
        padding-top:1.5rem;
        padding-bottom:10px;
    }
    .depois-da-lei-seca{
        background:#f2f2f2;
        h2{
            color:$color1;
        }
    }

    .blog-button{
        width:200px;
        text-align:center;
        font-family: bebas;
        font-weight:bolder;
        font-size:25px;
        padding:2px;
        border-radius:4px;
    }

    .blog-button:hover{
        text-decoration: none;
        color:white;
    }
}