@media screen and (max-width:576px) {
    .news{
        h2{
            font-size:16px;
        }
        p{
            font-size:10px;
        }
    }
}

@media screen and (max-width:767px) {
    .ms_pagination .ms_bullet {
        display: block !important;
    }
}


@media screen and (max-width:768px) {
    .news{
        .col-md-4 img{
            width:100%;
        }
        img{
            margin-bottom:25px !important;
        }
        
        .col-md-4 .post:nth-child(2) img{
            margin-top: 19px;
        }
    }
    
    .contact{
        .button{
            width:100%;
        }
    }
    
    footer{
        font-size:12px;
    }
    
    header{
        a{
            font-size:30px !important;
        }
    }
    
    .post-content{
        h1{
            font-size:20px;
        }
    }
}

@media screen and (min-width:768px) {
    .news{
        .col-md-4{
            overflow: hidden;
        }
        .col-md-4,.col-md-8{
            padding:0;
        }
        
        .col-md-4 img{
            height:50%;
        }
        
        .col-md-8 img:nth-child(2){
            padding-right:10px !important;
        }
    }
}

@media screen and (max-width:991px) {
    .lei-seca-content{
        .row{
            >div:nth-child(2){
                img{
                    top:5% !important;
                }
            }
        }
    
    }
}