//SLIDER

.motoslider_wrapper{
    h3{
        text-align:center;
    }
    .ms_wrapper{
        min-height:300px;
    }
    .ms_layer{
        width:100% !important;
        left:0 !important;
        box-sizing:border-box !important;
        h1{
            text-align:center !important;
        }
    }
}