@import "header.scss";
@import "slider.scss";
@import "content.scss";
@import "news.scss";
@import "contact.scss";
@import "footer.scss";

//Classes

.hover:hover{
    opacity:0.5;
    cursor:pointer;
    transition:.3s;
}

.button{
    background:white;
    color:black;
    border:none;
    padding:5px 35px;
    font-weight:bolder;
    font-style:italic;
    border-radius:4px;
    font-size:22px;
}








