doctype html
head
    title Lei seca
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    
body
    header
        .container
            .row
                .col-md-6.d-flex.align-items-center
                    a.hover(href="#")
                        i.far.fa-envelope
                        | contato@leiseca.com.br
                .col-md-6.text-right.social
                    a.hover(href="#")
                        i(class="fab fa-facebook-square")
                    a.hover(href="#")
                        i(class="fab fa-instagram")
                    a.hover(href="#")
                        i(class="fab fa-twitter-square")
                    a.hover(href="#")
                        i(class="fas fa-search")
                        
    //------------SLIDER------------
    
    .slider
        #carouselExampleIndicators.carousel.slide(data-ride='')
          .carousel-inner
            .carousel-item.active
              img.img-fluid.d-block.w-100(src='img/slide1.jpg', alt='First slide')
            .carousel-item
              img.img-fluid.d-block.w-100(src='img/slide2.jpg', alt='Second slide')
              
    //------------CONTENT------------
              
    .content.py-5
        .container
            h2.text-center.pb-5 O que é a Lei Seca
            .row
                .col-md-6
                    img.img-fluid(src="img/logo.png")
                .col-md-6
                    p O projeto Lei Seca Salva Vidas tem como objetivo aumentar a conscientização sobre a Lei Seca. Boa parte da população ainda vê a lei apenas como uma ação que cria mais blitzes de trânsito, quando é um projeto que salvou milhares de vidas e poupou bilhões de reais para o país nos últimos nove anos. Inclusive, as ações de fiscalização fizeram com que a lei fosse cada vez mais conhecida pela população. A cada ano, mais e mais motoristas compreendem o perigo de dirigir alcoolizados, diminuindo cada vez mais o número de acidentes nas estradas. Entre 2009 e 2016, o número de motoristas flagrados alcoolizados caiu em 43%. 

                    p Antes da Lei Seca, a ingestão permitida de álcool era de até 6 decigramas por litro de sangue, equivalente a dois copos de cerveja. Quando foi sancionada, a Lei permitia 0,1 mg/l de álcool por litro de sangue, e atualmente a tolerância é de 0,05 mg/l. Quanto aos exames de sangue, antigamente eles poderiam acusar até 2 decigramas de álcool, mas agora não é tolerada nenhuma quantidade.
                    
                    p A recusa do teste do bafômetro também tem a mesma punição administrativa – multa por infração gravíssima e suspensão da carteira por 12 meses – que dirigir alcoolizado. E os motoristas condenados a cumprir penas alternativas por infrações de trânsito passaram a pagar pelo crime cometido através do trabalho em ações de resgate ou em instituições de tratamento de vítimas de acidentes.



                    a.text-link.d-block.text-right(href="#") continuar lendo >
    
    .content-img.pb-5
        .container
            img.img-fluid(src="img/content-img.png")
            
    //------------NEWS------------
    
    .news.pb-5
        .container.position-relative
            .row
                .col-md-8
                    img.noticias.img-fluid.d-none.d-md-block(src="img/noticia.jpg" alt="post image")
                    .post.hover
                        img(src="img/noticia1.jpg" alt="post image" style="width:100%")
                        .post-excerpt
                            h2.font-weight-bold lorem ipsum dolor sit
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                .col-md-4
                    .post.hover
                        img(src="img/noticia2.jpg" alt="post image")
                        .post-excerpt
                            h2.font-weight-bold lorem ipsum dolor sit
                    .post.hover
                        img(src="img/noticia3.jpg" alt="post image")
                        .post-excerpt
                            h2.font-weight-bold lorem ipsum dolor sit
            a.text-link.d-block.text-center.pt-3.pb-5(href="#") Ver todas
                    
    //------------CONTACT------------
    
    .contact.py-5
        .container
            h2.text-uppercase.text-center.font-weight-bold Fale conosco
            p.text-center lorem ...ipsum ... dolor...
            form
                .row
                    .col-md-6.pb-4.pb-md-0
                        input.w-100(type="text" name="name" placeholder="Nome")
                    .col-md-6
                        input.w-100(type="email" name="email" placeholder="Email")
                .row
                    .col-md-12.pt-4
                        textarea.w-100(placeholder="Deixe sua mensagem")
                        input.button.float-right.my-4.hover(type="submit" value="Enviar")
                        
    //------------FOOTER------------
                    
    footer.text-center
        p.text-light.py-3 &copy; 2018 Lei Seca Salva Vidas - Todos os direitos reservados.
        
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/live-reload.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="js/script.js")
    script(src="js/jquery.min.js")
    script(src="js/wow.min.js")
    script new WOW().init();
    
        
    
                        
            