doctype html
head
    title Lei seca
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    
body
    header
        .container
            .row
                .col-md-6
                    a.hover(href="#")
                        i.far.fa-envelope
                        |contato@leiseca.com.br
                .col-md-6.text-right
                    a.hove(href="#")
                        i(class="fab fa-facebook-square")
                    a.hove(href="#")
                        i(class="fab fa-instagram")
                    a.hove(href="#")
                        i(class="fab fa-twitter-square")
                    a.hove(href="#")
                        i(class="fas fa-search")
    
    .slider
        #carouselExampleIndicators.carousel.slide(data-ride='')
          .carousel-inner
            .carousel-item.active
              img.img-fluid.d-block.w-100(src='img/slide1.jpg', alt='First slide')
            .carousel-item
              img.img-fluid.d-block.w-100(src='img/slide2.jpg', alt='Second slide')
              
    .content
        h2 lorem ipsum dolor sit amet
        p 
              

                    
    
    
    
    
    
    
    
    
    footer
        p Developed by 
            a(href="https://rodrigowebdev.github.io/devninja.github.io/" target="_blank") Rodrigo Queiroz
            
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/live-reload.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="js/script.js")
    script(src="js/jquery.min.js")
    script(src="js/wow.min.js")
    script new WOW().init();
    
        
    
                        
            