doctype html
head
    title Lei seca
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/animate.min.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    
body
    header
        .container
            .row
                .col-md-6
                    a.hover(href="#")
                        i.far.fa-envelope
                        |contato@leiseca.com.br
                .col-md-6.text-right
                    a.hove(href="#")
                        i(class="fab fa-facebook-square")
                    a.hove(href="#")
                        i(class="fab fa-instagram")
                    a.hove(href="#")
                        i(class="fab fa-twitter-square")
                    a.hove(href="#")
                        i(class="fas fa-search")
    
    .slider
        #carouselExampleIndicators.carousel.slide(data-ride='')
          .carousel-inner
            .carousel-item.active
              img.img-fluid.d-block.w-100(src='img/slide1.jpg', alt='First slide')
            .carousel-item
              img.img-fluid.d-block.w-100(src='img/slide2.jpg', alt='Second slide')
              
    .content.py-5
        .container
            h2.text-center.pb-5 O que é a Lei Seca
            .row
                .col-md-6
                    img.img-fluid(src="img/logo.png")
                .col-md-6
                    p A Lei nº 11.705, de 19 de junho de 2008, mais conhecida como Lei Seca, de autoria do Deputado Federal pelo Rio de Janeiro Hugo Leal, é uma política pública permanente que foi criada para ajudar na fiscalização de motoristas alcoolizados e aumentar a conscientização para os perigos de combinar bebida e direção. A lei vem da união de três órgãos, a Secretaria de Governo, o Detran e a Polícia Militar. A primeira Operação Lei Seca ocorreu em 19 de março de 2009, e, no seu início, 20% dos motoristas registravam a presença de bebida alcoólica no sangue. Em 2016, o número de motoristas pegos com traços de bebida alcoólica no sangue caiu para 7%. Já em seu primeiro mês de funcionamento, a lei mostrou que faz a diferença. Segundo dados do Ministério da Saúde, ocorreu no período uma diminuição de 24% de resgates do SAMU. Em um ano, o número de mortes em acidentes causados por motoristas embriagados caiu em 32% em comparação com o ano anterior.

                    p A lei foi modificada em 2012, para endurecer ainda mais a fiscalização no trânsito. Inicialmente a prova da embriaguez só poderia ser feita através do teste do bafômetro ou exame do sangue do motorista em laboratório. Após a mudança, passaram a valer como provas o depoimento do policial, testemunhos de terceiros, fotos e vídeos, além de um aumento considerável no valor da multa para o condutor que for flagrado sob influência do álcool. Com essas modificações diminuíram ainda mais as ocorrências de motoristas alcoolizados e acidentes causados pela combinação de álcool e direção.


                    a.d-block.text-right.font-weight-bold(href="#") continuar lendo >
    
    .content-img.pb-5
        .container
            img.img-fluid(src="img/content-img.png")
    
    .news.pb-5
        .container
            .row
                .col-md-8
                    img.img-fluid(src="img/post.jpg" alt="psot image")
                .col-md-4
                    img.img-fluid(src="img/post.jpg" alt="psot image")
                    img.img-fluid(src="img/post.jpg" alt="psot image")
                    
    .contact.py-5
        .container
            h2.text-uppercase.text-center.font-weight-bold Fale conosco
            p.text-center lorem ...ipsum ... dolor...
            form
                .row
                    .col-md-6.pb-4.pb-md-0
                        input.w-100(type="text" name="name" placeholder="Nome")
                    .col-md-6
                        input.w-100(type="email" name="email" placeholder="Email")
                .row
                    .col-md-12.pt-4
                        textarea.w-100(placeholder="Deixe sua mensagem")
                        input.button.float-right.my-4.hover(type="submit" value="Enviar")
                
    footer.text-center
        p.text-light.py-3 &copy; 2018 Lei Seca Salva Vidas - Todos os direitos reservados.
        
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/live-reload.js")
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    script(src="js/script.js")
    script(src="js/jquery.min.js")
    script(src="js/wow.min.js")
    script new WOW().init();
    
        
    
                        
            